div#myModal{
    background-color: rgba(0,0,0,0.6);
    display: table;
    z-index: 1;
    width: 100%;
    height: 100%;
}
div#myModal.fade{
	z-index: -1;
}
div#myModal .modal-dialog{
	display: table-cell;
	margin: auto;
	vertical-align: middle;
}
div#myModal .modal-dialog .modal-content{
	width: 500px;
	margin: auto;
}