.show-user-pop.fade-enter-active, .show-user-pop.fade-leave-active {
  transition: all .5s cubic-bezier(0.2, 0.8, 0.8, 1.0);
    top: 56px;
}
.show-user-pop.fade-enter, .show-user-pop.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transition: all 1s cubic-bezier(0.2, 0.8, 0.8, 1.0);
  opacity: 0;
  top: 100px;
}

.show-user-pop {
    position: absolute;
    right: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 10;
    top: 56px;
}